<h1><small><%= "you are here:views/by_author/show.html.erb"%></small></h1>
<h1><%="Remove Author"%>
  <small><%= @author.first_name %>
    <%= @author.last_name %></small></h1>

<%= link_to "Delete", author_path(id: @author.id), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete?"}%>
